.env
!.env.example

.venv/

__pycache__/
*.pyc

.DS_Store

models/
chroma_db/
data/
dataset/
insplad/

outputs/
test_heatmap.png
test_overlay.png
test_overlay_*.png

*.onnx
*.ckpt
*.pth
*.pt
*.safetensors
*.zip